PORT=8080
USER_SERVICE_URL=http://user-service:8080
WEB_SERVICE_URL=http://web-service:8080
CHAT_SERVICE_URL=http://chat-service:8080
JWT_SECRET=eyJhbGciOiJIUzI1NiJ9.eyJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIiOiJJc3N1ZXIiLCJVc2VybmFtZSI6IkphdmFJblVzZSIsImV4cCI6MTc3NDI5ODQwOCwiaWF0IjoxNzc0Mjk4NDA4fQ.asZqYyeBhdZNOovgsZahyco13vJX9RSDEEcQGb3Ivk4
CSRF_KEY=80624c543fb7c78a7066600b67fdd6528e5cc0be5ed603622163f4cbc79bbb30
DB_HOST=db
DB_PORT=5432
DB_USER=dbUser
DB_PASSWORD=dbPassword
DB_NAME=my_db
POSTGRES_DB=my_db
POSTGRES_USER=dbUser
POSTGRES_PASSWORD=dbPassword
